<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>

<dict>
	<key>name</key>
	<string>filter</string>
	<key>type</key>
	<string>edit</string>
	<key>label</key>
	<string>CSS Filter String</string>
	<key>default</key>
	<string>blur(5px) brightness(50%)</string>
</dict>

<dict>
	<key>name</key>
	<string>alwaysShow</string>
	<key>type</key>
	<string>switch</string>
	<key>label</key>
	<string>Show when paused</string>
	<key>default</key>
	<false/>
</dict>
<dict>
	<key>name</key>
	<string>disabledAppsTitle</string>
	<key>type</key>
	<string>edit</string>
	<key>label</key>
	<string>Disabled in apps (bundleid or name, seperated by ;)</string>
	<key>default</key>
	<string></string>
</dict>
<dict>
	<key>name</key>
	<string>disabledApps</string>
	<key>type</key>
	<string>edit</string>
	<key>label</key>
	<string> </string>
	<key>default</key>
	<string>YouTube;org.videolan.vlc-ios</string>
</dict>

</array>
</plist>